.split {
    height: 100%;
    width: 50%;
    
    z-index: 1;
    top: 0;
    padding-top: 20px;
    padding-left: 100px;
  }
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  .Intro {
    background: hsla(0, 0%, 95%, 1);
    overflow: hidden;
  }
  
  .flat-anim
  {
      display: block;
      width: 264px;
      height: 265px;
      background-color: #ecf0f1;
      border-radius: 42px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin:-132px 0 0 -132px;
  }
  .flat-anim:before
  {
      content: "";
      background-color: #e67e22;
      width: 26px;
      height: 26px;
      border-radius: 26px;
      position: absolute;
      top: 19px;
      left: 19px;
  }
  .flat-anim:after
  {
      content: "";
      background-color: #68b5f1;
      width: 48px;
      height: 24px;
      border-radius: 10px;
      position: absolute;
      top: 17px;
      right: 22px;
  }
  .bottom
  {
      width: 264px;
      height: 112px;
      display: block;
      z-index: 10;
      background-color: #e67e22;
      border-radius: 0 0 38px 38px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top:15px solid #dd660e;
      box-shadow: inset 0 -20px 0 0 #db640e;
  }
  .bottom:before
  {
      content: "";
      background-color: #282e3a;
      width: 140px;
      height: 30px;
      display: block;
      margin:14px auto 0 auto;
  }
  .bottom:after{
      content: "";
      position: absolute;
      top: 30px;
      left: 84px;
      width: 96px;
      height: 70px;
      display: block;
      background-color: #ecf0f1;
      /*border-top:16px solid #c3d1dd;*/
      /*border-bottom:14px solid #db640e;*/
    box-shadow:0 14px 0 0 #db640e,
      0 -16px 0 0 #c3d1dd;
    -moz-box-shadow:0 14px 0 0 #db640e,
      0 -16px 0 0 #c3d1dd;
      box-shadow:0 14px 0 0 #db640e,
      0 -16px 0 0 #c3d1dd;
  }
  .eye
  {
      width: 37px;
      height: 37px;
      border-radius: 37px;
      background-color: #243e6e;
      display: block;
      margin:60px auto 0;
      z-index: 20;
      position: relative;
      box-shadow:	0	0		0	22px	#3e5489,
                          0 	0 		0 	30px 	#1c3666,
                          0 	0 		0 	45px 	#ecf0f1,
                          0 	10px 	0 	45px 	rgba(0,0,0,0.2);
  }
  .eye:before
  {
      content: "";
      background-color: #a3bfd5;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      position: absolute;
      top: -16px;
      left: -16px;
  }
  .eye:after
  {
      content: "";
      background-color: #6078a3;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      position: absolute;
      top: 30px;
      left: 30px;
  }
  /* Animation */
  
  .flat-anim {
    animation: flatAnimation 5s infinite;
  }
  
  @keyframes flatAnimation {
    0% {
        transform: rotate(50deg) scale(0.5); 
    }
    13% {
        transform: rotate(-22deg) scale(1.2); 
    }
    20% {
        transform: rotate(0) scale(1); 
    }
    95% {
        transform: rotate(0) scale(1); 
    }
    100% {
        transform: rotate(50deg) scale(0.5); 
    }
  }
  .eye,
  .flat-anim:before,
  .flat-anim:after {
   animation: eyeAnimation 5s infinite;
  }
  .flat-anim:before{
      animation-delay: 50ms;
      -moz-animation-delay: 50ms;
      -o-animation-delay: 50ms;
      animation-delay: 50ms;
  }
  .flat-anim:after{
      animation-delay: 150ms;
      -moz-animation-delay: 150ms;
      -o-animation-delay: 150ms;
      animation-delay: 150ms;
  }
  
  @keyframes eyeAnimation {
    0% {
        opacity: 0;
        transform: scale(0.1); 
    }
    12% {
        opacity: 0;
        transform: scale(0.1);
    }
    13% {
        opacity: 1;
        transform: scale(0.1);
    }
    20% {
        opacity: 1;
        transform: scale(1.4); 
    }
    25% {
        transform: scale(1); 
    }
    95% {
        transform: scale(1); 
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0.1); 
    }
  }
  
  .bottom:before
  {
    animation: bottomAnimation 5s infinite;
  }
  
  @keyframes bottomAnimation {
    0% {
        opacity: 0;
        width: 0;
    }
    20% {
        opacity: 0;
        width: 0;
    }
    21% {
        opacity: 0;
        width: 0;
    }
    22% {
        opacity: 1;
        width: 8px;
    }
    25% {
        opacity: 1;
          width: 165px;
    }
    26% {
        opacity: 1;
          width: 140px;
    }
    95% {
          width: 140px;
        opacity: 1;
    }
    96% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 0;
        width: 0;
    }
  }
  .bottom:after
  {
    animation: bottomAfterAnimation 5s infinite;
  }
  
  @keyframes bottomAfterAnimation {
    0% {
        opacity: 0;
        height: 0;
        border: 0;
    }
    25% {
        opacity: 0;
        height: 0;
        border: 0;
    }
    26% {
        opacity: 1;
        border: 0;
        height: 0;
    }
    26% {
        opacity: 1;
        border: 0;
        height: 0;
        border-top-width: 2px;
    }
    28% {
        opacity: 1;
        border: 0;
        height: 0;
        border-top-width: 16px;
    }
    28% {
        opacity: 1;
        height: 40px;
        border-top-width: 16px;
        border-bottom-width: 14px;
    }
    95% {
        opacity: 1;
        height: 40px;
        border-top-width: 16px;
        border-bottom-width: 14px;
    }
    100% {
        opacity: 0;
        height: 0;
      border: 0;
    }
  }
  
  
  
  .intro-content {
    position: absolute;
    height: 400px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #intro .intro-content h2 {
    color: #0c2e8a;
    margin-bottom: 30px;
    font-family: Georgia;
    font-size: 64px;
    font-weight: 700;
  
  }
  
  #intro .intro-content h2 span {
    color: #2889b6;
    text-decoration: underline;
  }
  
  @media (max-width: 767px) {
    #intro .intro-content h2 {
      font-size: 34px;
    }
  }
  
  #intro .intro-content .btn-get-started, #intro .intro-content .btn-projects {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
  }
  
  #intro .intro-content .btn-get-started {
    background: #0c2e8a;
    border: 2px solid #0c2e8a;
  }
  
  #intro .intro-content .btn-get-started:hover {
    background: none;
    color: #0c2e8a;
  }
  
  #intro .intro-content .btn-projects {
    background: #2889b6;
    border: 2px solid #2889b6;
  }
  
  #intro .intro-content .btn-projects:hover {
    background: none;
    color: #2889b6;
  }
  
  #intro #intro-carousel {
    z-index: 8;
  }
  
  #intro #intro-carousel::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 7;
  }
  
  #intro #intro-carousel .item {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
  